<header class="clearfloat">

    <ul class="clearfloat">
        <li>
            <a href="#!/index">用户信息</a>
        </li>
        <li>
            <a href="#!/input">录入文档</a>
        </li>
        <li>
            <a href="#!/modify">修改文档</a>
        </li>


        {{!-- {{#if admin}} --}}
        <li>
            <a href="#!/users/add">添加管理员</a>
        </li>
        {{!-- {{/if}} --}}

        <li>
            <a href="#!/users/password">修改密码</a>
        </li>
        <li>
            <a href="#!/logout">退出系统</a>
        </li>
    </ul>
</header>


<div ui-view></div>