<div>
    <header class="clearfloat">

        <ul class="clearfloat">
            <li>
                <a href="" ui-sref="index.info">用户信息</a>
            </li>
            <li>
                <a href="" ui-sref="index.input">录入文档</a>
            </li>
            <li>
                <a href="" ui-sref="index.modify">正式文档</a>
            </li>


            {{#if admin}}            
            <li>
                <a href="" ui-sref="index.add">用户管理</a>
            </li>
	    {{/if}}
            

            <li>
                <a href="" ui-sref="index.type">文档类型</a>
            </li>

            <li>
                <a href="" ui-sref="index.repassword">修改密码</a>
            </li>
            <li>
                <a href="" ui-sref="logout">退出系统</a>
            </li>
        </ul>
    </header>


    <div ui-view></div>

</div>
