<header>
    <h1>欢迎登录扬子云计算中心编辑平台</h1>
</header>

<div class="margin"></div>

<div class="container">
    </span><span style="font-size:20px;font-weight:600">已经成功退出登录</span>

    <div class="margin"></div>

    <span class="btn btn-lg btn-success">
        <a style="color: #fff" href="#!/login">重新登录</a>
    </span>
</div>


