<div class="container password">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">修改密码</h3>
        </div>
        <div class="panel-body">

            <form novalidate role="form">

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-sm-2 col-md-2 col-lg-2 right">
                            <label for="">原&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <input type="password" class="form-control" name="password" placeholder="请输入您的原密码" ng-model="user.password" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-sm-2 col-md-2 col-lg-2 right">
                            <label for="">新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <input type="password" class="form-control" name="newpassword" placeholder="请输入您的新密码" ng-model="user.newpassword" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2  col-sm-2 col-md-2 col-lg-2 right">
                            <label for="">确认密码</label>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                            <input type="password" class="form-control" name="renewpassword" placeholder="请再次输入新密码" ng-model="user.renewpassword" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                            <span style="color:red;font-weight: 600">[[err_tip]]</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-offset-4 col-md-offset-4 col-lg-offset-4  col-sm-8 col-md-8 col-lg-8">
                            <button type="button" class="btn btn-primary" ng-click='saveUser()'>保存</button>
                            <button type="button" class="btn btn-primary" ng-click='cancel()'>取消</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>