body {
    font-family: "微软雅黑", "宋体", "Lucida Grande", Helvetica, Arial, sans-serif;
    /* min-width: 1000px; */
}


/* .clear {
    clear: both;
} */

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

li {
    list-style: none;
}

header {
    background-color: #999;
    height: 8rem;
    line-height: 8rem;
    margin-bottom: 2rem;
}
.margin{
    padding: 4rem;
}
header h1 {
    margin: 0;
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
    color: #f77b00;
    background-color: #f5f5f5;
    padding:50px;
}


form.loginForm {
    background-color: #f9f9f9;
    border-radius: 1rem;
    padding: 5rem 3rem 3rem 1rem;
  }

header li {
    float: left;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login .btn-warning {
    width: 100%;
}

.notice {
    color: red;
}

.subtit {
    margin: 0;
    background-color: #dceed5;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

.panel-heading{
    position: relative;
}

.panel-heading .more {
    position: absolute;
    top: 3px;
    right: 4px;
}

.col-md-1 {
    padding-left: 0;
    padding-right: 0;
}

.modal_show_doc {
    /* width: 768px; */
    border: 1px solid #eee;
    margin: 20px auto;
    /* text-align: center; */
}

.modal_show_doc .modal_title,
.modal_show_doc .modal_subtitle{
    text-align: center;
}

.modal_show_doc .content{
    padding-left: 2em;
    padding-right: 2em;
}

.modal_show_doc hr {
    border: 1px solid #999;
    margin: 20px 20px 35px 20px;
}

.modal_show_doc .modal_time {
    text-align: right;
    padding-right: 40px;
}


/* .input {
    min-width: 992px;
} */


/* .input .modal-content {
    min-width: 772px;
} */

#editor {
    width: 860px;
    margin: auto;
}

#editor .fr-wrapper p {
    text-align: left;
}

.doc_submit {
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: #eee;
}

.doc_submit button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.right {
    text-align: right;
}

.modal-sm .modal-content {
    margin-top: 20rem;
    padding: 4rem 6rem;
    text-align: center;
    line-height: 4rem;
}

.tip {
    margin-top: 4rem;
    color: red;
    font-size: 2rem;
    font-weight: 600;
}